/*

███    ██  █████
████   ██ ██   ██
██ ██  ██  █████
██  ██ ██ ██   ██
██   ████  █████

*/
#centertext {
  margin: auto;
  text-align: center;
  color: white;
  padding: 400px 0;
  text-shadow: 10px;
  font-size: 70px;
  font-family: 'Press Start 2P'
}

#body {
  background-color: orange;
}
